{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.subscription.enable }}
{{- with $data.homepage.subscription }}
<section id="subscribe" class="call-to-action section bg-opacity"
  style="background-image: url('{{ .bg_image | absURL }}-{{ index (seq 3 | shuffle) 0 }}.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 text-center mx-auto">
        <h2 class="subheading text-white">{{ .title | markdownify }}</h2>
        <p class="text-white">{{ .content | markdownify }}</p>
        <div class="input-group">

          <form action="{{ site.Params.subscription.mailchimp_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="w-100 validate" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="{{ .placeholder }}">
            <div id="mce-responses" class="clear text-white mx-auto" style="margin-top: 2em;">
              <p class="response" id="mce-error-response" style="display:none"></p>
              <p class="response" id="mce-success-response" style="display:none"></p>
            </div> <button class="btn btn-main btn-submit" type="submit" name="subscribe">{{i18n "subscribe"}}</button>

          <!-- <form action="{{ site.Params.subscription.mailchimp_form_action }}" method="post" class="w-100" name="mc-embedded-subscribe-form" target="_blank"> -->
          <!--   <input type="email" id="email" class="form-control" name="email" placeholder="{{ .placeholder }}" -->
          <!--     required> -->
          <!--   <button class="btn btn-main btn-submit" type="submit" name="subscribe">{{i18n "subscribe"}}</button> -->
          <!--   <div style="position: absolute; left: -5000px;" aria-hidden="true"> -->
          <!--     <input type="text" name="{{ site.Params.subscription.mailchimp_form_name }}" tabindex="-1"> -->
          <!--   </div> -->

          </form>
        </div><!-- /input-group -->
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script
          type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
      </div>
    </div>
  </div>
</section><!-- #call-to-action close -->
{{- end }}
{{- end }}
